*.txt
*.zip
*.cache
yolo11n.pt
yolo8n.pt
assets/valid
assets/train
assets/test
assets/test_set
runs/detect/predict
runs/detect/predict_epochs_20
runs/detect/predict2
runs/detect/predict2_epochs_50
runs/detect/predict3
runs/detect/predict4
runs/detect/val2
runs/detect/val
last.pt
*.jpg
results.csv
*.0